.join_form{
    display: block;
    flex-direction: column;
    gap: 10px;
}

input{
    display: block;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;

    width: 300px;
}

button{
    background-color: rgb(5, 5, 58);
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    width: auto;
}

.err-name, .err-email{
    display: block;
    color: red;
    height: 21px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
}