.alert-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 153, 250);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.yellow-bg{
    background-color: yellow;
}